@import 'variables';

mat-sidenav-container {
  height: 100%;
  width: 100%;

  .wrapper {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    .content {
      position: relative;
      flex: 1 0 auto;
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    .wrapper {
      top: 56px;
    }
  }
}
