<div class="container">
  <db-search-bar (onSelectedOption)="selectedOption($event)"></db-search-bar>
  <h2 style="text-align:center">Lista twoich pacjentów</h2>
  <mat-list>
    <mat-list-item *ngFor="let patient of patients" class="mat-list-item-lg">
      <div mat-line class="d-flex">
        <div mat-list-avatar class="d-flex align-items-center justify-content-center">
          <img src="../../../../assets/google_avatar.png">
        </div>
        <div class="ml-4 d-flex justify-content-center flex-column">
          <span> {{patient.firstname}} </span>
          <span> {{patient.lastname}} </span>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
