@import 'variables';

.container {
  padding-top: 2rem;

  @include media-breakpoint-up(md) {
    padding-top: 4rem;
  }
}

mat-list-item.mat-list-item.mat-list-item-lg {
  height: 5rem;
}

mat-list .mat-list-item .mat-list-avatar {
  width: 64px;
  height: 64px;
}
