<div [formGroup]="parts" class="timespan-input-container">
  <input class="timespan-input-element" formControlName="startHour" size="2" maxlength="2"
         [placeholder]="hoursPlaceholder"
         (focus)="onTouched()" (input)="onChange(value)">
  <span class="timespan-input-spacer">:</span>
  <input class="timespan-input-element" formControlName="startMinutes" size="2" maxlength="2"
         [placeholder]="minutesPlaceholder"
         (focus)="onTouched()" (input)="onChange(value)">
  <span class="timespan-input-spacer">&ndash;</span>
  <input class="timespan-input-element" formControlName="stopHour" size="2" maxlength="2"
         [placeholder]="hoursPlaceholder"
         (focus)="onTouched()" (input)="onChange(value)">
  <span class="timespan-input-spacer">:</span>
  <input class="timespan-input-element" formControlName="stopMinutes" size="2" maxlength="2"
         [placeholder]="minutesPlaceholder"
         (focus)="onTouched()" (input)="onChange(value)">
</div>
