@import 'variables';

:host {
  display: block;
}

mat-list-item.mat-list-item.mat-list-item-lg {
  height: 5rem;

  &:hover {
    background-color: #E8E8EE;
    border-radius: 15px;
  }
}

mat-list-item .mat-list-avatar {
  width: 4rem;
  height: 4rem;
}
