<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-5 col-md-7">
      <h1 class="mat-h1">Resetowanie hasła</h1>

      <p class="text-gray">
        Hasło, które podasz poniżej, będzie nowym hasłem do konta, z którego rozpocząłeś proces resetowania hasła.
      </p>

      <form [formGroup]="formGroup" (ngSubmit)="changePassword()">
        <p>
          <mat-form-field class="w-100">
            <mat-label>Nowe hasło</mat-label>
            <input type="password" matInput placeholder="Wpisz nowe hasło" formControlName="newPassword" required
                   (input)="revalidatePasswordConfirm()">
            <mat-error *ngIf="newPasswordFormControl.hasError('required')">
              Nowe hasło jest <strong>wymagane</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Powtórz nowe hasło</mat-label>
            <input type="password" matInput placeholder="Wpisz nowe hasło ponownie"
                   formControlName="newPasswordConfirm"
                   required>
            <mat-error
              *ngIf="newPasswordConfirmFormControl.hasError('equalTo') && !newPasswordConfirmFormControl.hasError('required')">
              Wprowadzone hasła różnią się
            </mat-error>
            <mat-error *ngIf="newPasswordConfirmFormControl.hasError('required')">
              Powtórzenie hasła jest <strong>wymagane</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <button mat-raised-button color="primary" class="w-100">Potwierdź</button>
      </form>
    </div>
  </div>
</div>
