<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-5 col-md-7">
      <h1 class="mat-h1">Resetowanie hasła</h1>

      <p class="text-gray">
        Wpisz e-mail, który był przez Ciebie użyty do rejestracji. Wyślemy do Ciebie wiadomość e-mail z łączem umożliwiającym zresetowanie hasła.
      </p>

      <form [formGroup]="formGroup" (ngSubmit)="resetPassword()">
        <p>
          <mat-form-field class="w-100">
            <mat-label>E-mail</mat-label>
            <input type="email" required matInput placeholder="Wpisz adres e-mail przypisany do konta"
                   formControlName="email">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Wpisz poprawny adres e-mail
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              E-mail jest <strong>wymagany</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <button mat-raised-button color="primary" class="w-100" [disabled]="loading">Wyślij wiadomość</button>
      </form>

      <div class="mt-4" *ngIf="success">
        <p class="text-gray">
          Wiadomość została wysłana. Postępuj zgodnie z instrukcjami w niej zawartymi.
        </p>
      </div>
    </div>
  </div>
</div>
