<mat-list-item class="mat-list-item-lg" [routerLink]="[getDetailsRoute()]">
  <div mat-line class="d-flex">
    <div mat-list-avatar class="d-flex align-items-center justify-content-center mat-list-avatar">
      <img src="../../../../assets/google_avatar_64.png">
    </div>
    <div class="ml-4 d-flex justify-content-center flex-column">
      <span> {{patient.firstname}} {{patient.lastname}} </span>
      <small class="text-muted">PESEL: {{patient.pesel}} </small>
    </div>
  </div>
</mat-list-item>

