<ng-template #content>
  <ng-content></ng-content>
</ng-template>

<ng-container *ngIf="form; else noForm">
  <h2 mat-dialog-title>
    {{title}}
  </h2>

  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <div class="dialog-content-wrapper" mat-dialog-content>
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>

    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="false" type="button" [disabled]="disabled">{{cancelLabel}}</button>
      <button mat-button color="primary" type="submit" [disabled]="disabled">{{submitLabel}}
      </button>
    </div>
  </form>
</ng-container>

<ng-template #noForm>
  <h2 mat-dialog-title>
    {{title}}
  </h2>

  <div class="dialog-content-wrapper" mat-dialog-content>
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>

  <div mat-dialog-actions *ngIf="!isInfo; else infoButtons">
    <button mat-button [mat-dialog-close]="false" [disabled]="disabled">{{cancelLabel}}</button>
    <button mat-button *ngIf="submitLabel" color="primary" [disabled]="disabled"
            (click)="click($event)">
      {{submitLabel}}
    </button>
  </div>

  <ng-template #infoButtons>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="true" color="primary" [disabled]="disabled">{{submitLabel}}</button>
    </div>
  </ng-template>
</ng-template>
