<!-- <mwl-calendar-month-view [viewDate]='viewDate' [events]='events'></mwl-calendar-month-view> -->

<div class="container">
  <db-page-title>Twój terminarz</db-page-title>

  <db-schedule-header [(view)]="view" [(viewDate)]="viewDate"></db-schedule-header>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
      [weekStartsOn]="weekStartsOn"
      [weekendDays]="weekendDays"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
      [weekStartsOn]="weekStartsOn"
      [weekendDays]="weekendDays"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>

  <br><br><br>

  <h3 class="d-flex justify-content-between align-items-center">
    Edytuj wydarzenia
    <button mat-raised-button color="primary" (click)="addEvent()"> Dodaj </button>
  </h3>

  <table class="table w-100 my-5">
    <thead class="text-center">
      <tr>
        <th>Nazwa</th>
        <th>Kolor</th>
        <th>Rozpoczęcie</th>
        <th>Zakończenie</th>
        <th>Usuń</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let event of events; let index = index">
        <td>
          <mat-form-field>
            <input matInput type="text"
              [(ngModel)]="event.title"
              (keyup)="refresh.next()">
          </mat-form-field>
        </td>
        <td>
          <input type="color"
            [(ngModel)]="event.color.primary"
            (change)="refresh.next()">
        </td>
        <td>
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Data rozpoczęcia"
              [(ngModel)]="event.start"
              [owlDateTime]="dt1"
              [owlDateTimeTrigger]="dt1"
              (ngModelChange)="refresh.next()">
            <owl-date-time [pickerMode]="'dialog'" #dt1></owl-date-time>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Data zakończenia"
              [(ngModel)]="event.end"
              [owlDateTime]="dt3"
              [owlDateTimeTrigger]="dt3"
              (ngModelChange)="refresh.next()">
            <owl-date-time [pickerMode]="'dialog'" #dt3></owl-date-time>
          </mat-form-field>
        </td>
        <td>
          <button mat-button color="warn" (click)="events.splice(index, 1); refresh.next()">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
